---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<header>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  {% include menu-links.html %}
</div>

<!-- Use any element to open the sidenav -->
<span id="slid" onclick="openNav()"><i class="fa fa-align-left" aria-hidden="true"></i></span>
<a href="{{site.baseurl}}/"><h2 class="header-title">{{site.title}}<i class="fa fa-sun-o" aria-hidden="true"></i> </h2></a>
<!-- <br/>
<br/> -->

<img src={{ "/images/" | prepend: site.baseurl | append : site.topimage}}>

우리는 다양한 형식의 언어로 생각을 코딩(encoding)한다.
드로잉은 시각적 언어로.. 

</header>
<div id="main">




{{content}}



{% include footer.html %}

</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% include analytics.html %}
</body>
</html>
